.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 4rem;
  background-color: yellow;
}

.title-full {
  font-size: 0.8rem;
  color: #3c3c3c;
  display: flex;
  align-items: center;
  background-color: green;
}

i {
  font-size: 1.4rem;
}

.title {
  letter-spacing: -0.5px;
}

.input {
  border-radius: 1rem;
  outline: none;
  margin-right: 1rem;
  height: 1.6rem;
  width: 20rem;
  padding: 0 0.9em;
  border: 0.2mm solid;
}

button {
  border-radius: 1rem;
  border: none;
  height: 1.9rem;
  width: 5rem;
  cursor: pointer;
}

button:hover {
  background-color: black;
  color: white;
}

.img-container {
  column-count: 3;
  padding: 0 3rem; 
  background-color: violet;
  height: auto;


  width: auto;
  /* display: flex; */
  flex-wrap: wrap; /* not sure it does anything*/
  /* justify-content: space-between; */
}

.img-profile {
  background-color: green;
  /* margin-top: 0px;
  margin-bottom: 1rem; */
  /* margin-bottom: 1rem; */
  /* position: relative;  */
  margin-bottom: 1rem;;
  
  height: auto;
}

.img-thumbnail {
  cursor: pointer;
  /* max-width: 100%; */
  
}

/* 
.img-inter {
  margin-bottom: 1rem;
  display: flex;
}

.img-thumbnail {
  flex: 100%;
  margin-top: 0rem;
  cursor: pointer;
} */

.author-info {
  display: none;
  height: auto;
  background-color: blue;
  align-items: center;
  position: relative; 
  width: 100%;



  align-items: flex-start; /* doesn't do anything */
  
  /* position: absolute; */
  
  /* left: auto; */
  /* transform: translateX(0%); */
}

.img-profile:hover .author-info {
  display: block;
}

.author-profile-name {
  background-color: lightgoldenrodyellow;
  display: flex;
  align-items: center;
  margin-left: 0.5rem;
  padding: 0.4rem 0;
}

.author-profile-picture {
  border-radius: 50px;
  height: 1.5rem;
  width: 1.5rem;
  align-items: center;
  margin-right: 0.4rem;
}

.author-name {
  color: rgb(38, 38, 38);
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
  font-size: 0.8rem;
}

.preview-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1;
}

.preview-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  /* text-align: center; */
}

.preview-image img {
  max-width: 90vw;
  max-height: 90vh;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #ffffff90;
  color: black;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  height: 1.5rem;
  width: 1.5rem;
  padding: 0 0 0.1rem 0;
  font-size: 1.2rem;
}

.close-button:hover {
  background-color: white;
  color: black;
}

.no-image-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #eee;
  text-align: center;
  height: 600px;
  margin: 0 4rem 1rem;
}

.no-images-copy {
  font-size: 2rem;
  margin-bottom: -0.3rem;
}

.try-new-search-copy {
  font-size: 1.2rem;
  color: rgb(86, 86, 86);
}

footer {
  margin: 0.6rem;
  text-align: center;
  font-size: 0.7rem;
  font-weight: bold;
}

.fa-code {
  font-size: 0.7rem;
}

@media screen and (max-width: 831px) {
  .img-container {
    column-count: 2;
  }
  .input {
    width: 20rem;
  }
  .title {
    display: none;
  }
  .header {
    margin: 1rem 0;
  }
}

@media screen and (max-width: 600px) {
  .img-container {
    column-count: 1;
  }
  .input {
    width: 15rem;
  }
  .title {
    display: none;
  }
}

@media screen and (max-width: 520px) {
  .img-container {
    column-count: 1;
  }
  .input {
    width: 12rem;
  }
  .title {
    display: none;
  }
  .header {
    margin: 1rem 0;
  }
}
